/* Área de Conteúdo */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main-content {
    margin-left: 250px;
    width: calc(100% - 250px);
    height: 100vh;
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    overflow: auto;
}

.welcome-container {
    width: 100%;
    text-align: center;
}

.welcome-message h1 {
    color: #004B49;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-weight: bold;

}

.welcome-message p {
    color: #7f8c8d;
}

.welcome-logo {
    max-width: 1000px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/* Remove o padding padrão do main-content */
.main-content {
    padding: 0;
}